@import '../../styles/variables.scss';

.nav {

    background-color: $background-color-secondary;
    min-height: 100vh;
    padding: 1em 0;
    min-width: 260px;
    color: $text-color-secondary;

    ul {
        padding: 0;
    }

    li {
        text-decoration: none;
        list-style-type: none;

        a {
            width: 100%;
            display: block;
        }
    }

    li, .link {

        cursor: pointer;
        padding: 4px 1em;

        &:hover {
            background-color: $background-color-active;
        }
    }
}

.active {
    color: $text-color-primary;
    background-color: $background-color-active;
}